# =================================================================
# IDE and OS Files
# =================================================================
.idea/
*.iml
*.iws
.vscode/

# =================================================================
# Maven/Java Build Output (from Spring Initializr)
# =================================================================
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
HELP.md

# =================================================================
# Log and Secret Files
# =================================================================
*.log

.env
services/**/.env

# Ignore local application properties files for all services
services/**/application.properties

# This command adds the line "venv/" to your .gitignore file
venv/