# This is an example configuration file.

# 1. Tell Spring Boot where to find the Kafka server (broker)
spring.kafka.bootstrap-servers=localhost:9092

# 2. Define how to convert the message's "key" into text
spring.kafka.producer.key-serializer=org.apache.kafka.common.serialization.StringSerializer

# 3. Define how to convert our Java object (the price data) into JSON format
spring.kafka.producer.value-serializer=org.springframework.kafka.support.serializer.JsonSerializer